@font-face {
	font-family: 'RobotoLight';
	src: url('Roboto-Light-webfont.eot');
	src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('Roboto-Light-webfont.woff') format('woff'),
		url('Roboto-Light-webfont.ttf') format('truetype'),
		url('Roboto-Light-webfont.svg#RobotoLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AldoSemiBold';
	src: url('Aldo-Semi-Bold.eot');
	src: url('Aldo-Semi-Bold.eot?#iefix') format('embedded-opentype'),
		url('Aldo-Semi-Bold.woff') format('woff'),
		url('Aldo-Semi-Bold.ttf') format('truetype'),
		url('Aldo-Semi-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
